# python
*.pyc
*egg-info
*.swp
__pycache__/

# models
_models/

# plots
_graphics/
_samples/
_scenes/
_animations/
_plots/

# log files
_logs/
*.log

# spyder
.spyproject/

# sphinx documentation
docs/_build/
docs/source/generated/
